body {
    background: #1c1c1c;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

p {
    font-family: 'Liberation Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #959595;
}

a {
    font-family: 'Liberation Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
}

a:hover {
    color: #ffffff;
}

a:visited {
    color:  #2471a3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
  display: block;
  text-decoration: none;
  padding: 2px 4px;
}

li a:hover {
    color: #ffffff;
}


img {
    height: auto;
    max-width: 80px;
}

.container {
    font-family: 'Liberation Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #959595;
}