body{
    background-color: #59ADFF;
}

p {
    font-family : "Inter", sans-serif;
    font-weight : 400;
    font-style : normal;
    font-variation-settings : "slnt" 0;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family : "Inter", sans-serif;
    font-weight : 600;
    font-style : normal;
    font-variation-settings : "slnt" 0;
    color: #ffffff;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
    